<aside class="sidebar">
  <button class="sidebar__logo" type="button">
    <img src="/assets/images/darkLogo.svg" alt="Логотип приложения Тик толк" />
  </button>
  <div class="sidebar__main">
    <nav class="sidebar__navigation">
      <ul>
        <li class="sidebar__navigation-item">
          <button
            type="button"
            class="sidebar__navigation-icon sidebar__navigation-icon_type_home"
          ></button>
          <span>Моя страница</span>
        </li>
        <li class="sidebar__navigation-item">
          <button
            type="button"
            class="sidebar__navigation-icon sidebar__navigation-icon_type_chat"
          ></button>
          <span>Чаты</span>
        </li>
        <li class="sidebar__navigation-item">
          <button
            type="button"
            class="sidebar__navigation-icon sidebar__navigation-icon_type_search"
          ></button>
          <span>Поиск</span>
        </li>
      </ul>
    </nav>
    <h3>Подписчики</h3>
    <ul class="sidebar__subscribers">
      <li class="sidebar__subscriber-item">
        <img
          src="/assets/images/testSubscribers/Img.png"
          alt="Аватар пользователя"
        />
        <span>Сара Коннор</span>
      </li>
      <li class="sidebar__subscriber-item">
        <img
          src="/assets/images/testSubscribers/Img(1).png"
          alt="Аватар пользователя"
        />
        <span>Кристанна Локен</span>
      </li>
      <li class="sidebar__subscriber-item">
        <img
          src="/assets/images/testSubscribers/Img(2).png"
          alt="Аватар пользователя"
        />
        <span>Майкл Уинслоу</span>
      </li>
    </ul>
    <button type="button" class="sidebar__subscribers-button">
      <span
        >Все подписчики
        <svg
          width="16"
          height="16"
          viewBox="0 0 16 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M5.22266 11.4453L8.66797 8L5.22266 4.55469L6.27734 3.5L10.7773 8L6.27734 12.5L5.22266 11.4453Z"
            fill="#AE7AFF"
          />
        </svg>
      </span>
    </button>
  </div>

  <div class="aside__info">
    <img
      src="/assets/images/testSubscribers/Img(3).png"
      alt="Фотография пользователя"
    />
    <span>ryan.gosling</span>
    <button type="button"></button>
  </div>
</aside>
