@import "../../../shared/scss/variables";

.sidebar {
  display: flex;
  flex-direction: column;
  padding: 20px 12px;
  min-height: 100vh;
  gap: 20px;
  background-color: $dark-solid;

  &__main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__logo {
    background-color: transparent;
    border: none;
    margin-left: 16px;
    width: 61px;
    height: 74px;
    cursor: pointer;
  }

  &__navigation-item {
    padding: 8px 16px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    cursor: pointer;

    &:last-of-type {
      margin-bottom: 0;
    }

    &:hover {
      background-color: $dark-active;
      border-radius: 2px;

      .sidebar__navigation-button {
        color: $primary-primary;
      }

      .sidebar__navigation-button svg {
        color: $primary-primary;
      }
    }
  }

  &__navigation-button {
    background-color: transparent;
    border: none;
    color: inherit;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    display: flex;
    align-items: center;
    gap: 12px;
    svg {
      width: 16px;
      height: 16px;
      color: $light-solid;
    }
  }

  h3 {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    color: $light-transparent;
    margin-left: 16px;
  }

  &__subscribers-link {
    color: $primary-primary;
    padding-left: 16px;
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    gap: 12px;

    svg {
      width: 16px;
      height: 16px;
      color: $primary-primary;
    }
  }

  &__info {
    display: flex;
    flex: 0 0 auto;
    gap: 12px;
    padding: 4px 16px;
    align-items: center;

    img {
      width: 32px;
      height: 32px;
    }

    &:hover {
      background-color: $dark-active;
      border-radius: 2px;

      span {
        color: $primary-primary;
      }
      svg {
        color: $primary-primary;
      }
    }

    span {
      flex: 1 0 auto;
      font-size: 14px;
      font-weight: 700;
      line-height: 24px;
    }

    svg {
      width: 14px;
      height: 14px;
      color: $light-solid;
    }
  }
}
