<aside class="sidebar">
  <button class="sidebar__logo" type="button">
    <img src="/assets/images/darkLogo.svg" alt="Логотип приложения Тик толк" />
  </button>
  <div class="sidebar__main">
    <nav class="sidebar__navigation">
      <ul>
        <li
          *ngFor="let navigationItem of navigationItems"
          class="sidebar__navigation-item"
        >
          <button type="button" class="sidebar__navigation-button">
            <svg [icon]="navigationItem.svg"></svg>
            <span>{{ navigationItem.name }}</span>
          </button>
        </li>
      </ul>
    </nav>
    <h3>Подписчики</h3>
    <ul class="sidebar__subscribers">
      @for (subscriber of subscribers$ | async; track subscriber.id ) {
      <app-subscriber-item [subscriber]="subscriber"></app-subscriber-item>
      }
    </ul>
    <a class="sidebar__subscribers-link" [routerLink]="['/subscribers']">
      <span>Все подписчики </span>
      <svg icon="arrow"></svg>
    </a>
  </div>

  <div class="sidebar__info">
    @if (me(); as me) { @if (me.avatarUrl) {
    <img [src]="me.avatarUrl | imgUrl" alt="Фотография пользователя" />
    } @else {
    <img
      src="/assets/images/testSubscribers/Img(3).png"
      alt="Фотография пользователя"
    />

    } <span>{{ me.username }}</span
    >}
    <a [routerLink]="['/settings']">
      <svg icon="settings"></svg>
    </a>
  </div>
</aside>
