<li>
  <article class="profile-info">
    <div class="profile-info__main">
      <img src="/assets/images/Img.png" alt="Фото профиля" />
      <div>
        <h3>Райан Гослинг</h3>
        <p>ryan.gosling</p>
      </div>
    </div>
    <p class="profile-info__about">
      Список навыков, который мы обсудили выше, — основа резюме,
      но не единственная его часть. Также можно рассказать о себе в классическом
      смысле — этот раздел можно добавить в сопроводительное письмо.
    </p>
    <ul class="profile-info__keys">
      <li>JS</li>
      <li>CSS</li>
      <li>HTML</li>
      <li>Angular</li>
      <li>Frontend</li>
    </ul>
    <div class="profile-info__interaction">
      <button class="button button_type_added"></button>
      <button class="button button_type_text">
        <span>Написать</span>
        <svg
          width="16"
          height="16"
          viewBox="0 0 16 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M1.34375 14V9.34375L11.3438 8L1.34375 6.65625V2L15.3438 8L1.34375 14Z"
            fill="black"
          />
        </svg>
      </button>
      <button class="button button_type_click">
        <svg
          width="11"
          height="11"
          viewBox="0 0 11 11"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M4 0.34375H10.6562V7H9.34375V2.59375L1.59375 10.3438L0.65625 9.40625L8.40625 1.65625H4V0.34375Z"
            fill="black"
          />
        </svg>
      </button>
    </div>
  </article>
</li>
