/* You can add global styles to this file, and also import other style files */
@import "./shared/scss/variables", "./shared/scss/normalize",
  "./shared/scss/fonts";

* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: $dark-solid;
  color: $light-solid;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "JetBrainsMono", Arial, Helvetica, sans-serif;
}
