@import "../../../shared/scss/variables";
.profile-header {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 340px;
  gap: 24px;
  padding: 24px;

  &__main-info {
    display: flex;
    gap: 24px;
    align-items: center;
    img {
      width: 140px;
      height: 140px;
      border-radius: 50%;
    }

    h1 {
      font-size: 24px;
      font-weight: 800;
      line-height: 32px;
    }

    span {
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
    }
  }

  &__button {
    max-width: 176px;
    max-height: 44px;
    background-color: $primary-primary;
    border: 1px $dark-solid solid;
    border-radius: 2px;
    padding: 10px 20px;
    cursor: pointer;

    span {
      color: $dark-solid;
      font-size: 14px;
      font-weight: 700;
      line-height: 24px;
    }

    svg {
      margin-left: 8px;
      width: 16px;
      height: 16px;
      color: $dark-solid;
      vertical-align: middle;
    }
  }
}
